.assureance_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .checkout_card {
        padding: 0.5rem 1rem;
    }

}

.assurance_img,
.verifiedSeller_img,
.securePayment_img {
    width: fit-content;
    margin: auto;
}

.assurance_title,
.verifiedSeller_title,
.securePayment_title {
    text-align: center;
    width: fit-content;
    line-height: normal;
    font-size: 13px;
    color: #242424;
    margin: auto;
    margin-top: 5px;
}