.mv {
    &_product_details_wrapper {
        padding: 0 10px;
    }

    &_product_main_title {
        padding-right: 68px;
        word-wrap: break-word;
        font-weight: 500;
        font-size: 150%;
        line-height: 1.4;
        color: #2d2a2a;
    }

    &_product_review {
        margin-top: 10px;

        span {
            font-size: 17px;
        }

        &>span {
            display: inline-block;
            margin-left: 10px;
            color: #777;
            line-height: 1.6;
            font-size: 14.5px;
        }
    }

    &_product_pricing {
        padding-top: 10px;
        font-size: 110%;
        line-height: 1.2;
        min-height: 15px;
        color: #333;
        display: -webkit-inline-box;
        display: -moz-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        -webkit-align-items: baseline;
        align-items: baseline;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 3px;


        &>del {
            margin: 0;
            color: #aaaaaa;
            font-weight: normal;
            font-size: 90%;
            margin-right: 5px;
        }

        &>ins {
            text-decoration: none;
            font-size: 130%;
            font-weight: 500 !important;
        }

        &>small {
            font-size: 75%;
            margin: 0 5px;
            font-weight: 500 !important;
        }
    }

    &_incart_sold_wrapper {
        position: relative;
    }

    &_incart_sold {
        position: relative;
        height: 24px;
    }

    &_incart_wrapper,
    &_sold_wrapper {
        position: absolute;
        display: flex;
        gap: 5px;
        font-size: 15px;
        font-weight: 500;
        height: 24px;
        align-items: center;
        width: 100%;
        opacity: 0;
    }

    &_incart_wrapper {
        animation: scrollIncart 10s infinite;
    }

    &_sold_wrapper {
        animation: scrollSold 8s infinite;
    }


    &_delivery_question_wrapper {
        display: flex;
        flex-direction: column;
        margin-left: -10px;
        margin-top: 0 !important;
        padding-bottom: 10px !important;
    }

    &_delivery_wrapper,
    &_question_wrapper {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        background: white;
        padding: 10px;


        &::after {
            content: url('../../../../public/assets/icons/right-arrow.svg');
            font-size: 70%;
            position: absolute;
            right: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }

    &_question_wrapper {
        border-top: 2px solid #f2f2f2;
    }

}

.mv_wishlist_wrapper {
    p {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
    }
}

.mv_estimated_delivery_wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
    flex-wrap: wrap;

    div {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.mv_views_wrapper {
    display: flex;
    align-items: center;
    line-height: 1.6;
    gap: 10px;
}

.mv_share_wrapper {
    display: flex;
    column-gap: 10px;
    align-items: center;

    &>.mv_share_links {
        &>.share-buttons {
            display: flex;
            font-size: 16px;
            column-gap: 5px;

            button {
                border-radius: 50%;
                box-shadow: 0px 10px 15px #00000014;
            }
        }
    }
}

.seperation {
    position: relative;
    margin-top: 10px;
    padding-bottom: 20px;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -10px;
        right: -10px;
        z-index: 1;
        border-bottom: 8px solid #f2f2f2;
        display: block;
    }
}