/*
   Checkout Style Start
*/
.ant-modal.checkout_modal {
    // height: 100vh;
    // margin-bottom: 0;
    // padding-bottom: 0;
}

.checkout_modal .ant-modal-close {
    position: absolute;
    right: 2px;
    top: 2px;
    width: 47px;
    height: 47px;
    display: grid;
    place-items: center;
    cursor: pointer;
    background: #c7c3c3;
    border-radius: 50%;
    border: 10px solid #f4f4f4;
}

.ant-modal.checkout_modal .ant-modal-content {
    background-color: #F5F5F5;
    padding: 0;

    @media (max-width:48rem) {
        border-radius: 0;
    }
}

.checkout_wrapper {
    // height: 100vh;
    // position: relative;
    // overflow: scroll;
}

.checkout_left-section {
    grid-area: checkout_left_section;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 25px #0000000D;
    border-radius: 25px;

    @media (max-width:48rem) {
        border-radius: 0;
    }
}

.checkout_right-section {
    grid-area: checkout_right_section;
}

/*
   Checkout Style Start
*/

/*
   Checkout Form Style Start
*/


.phoneNumber-dialog-code {
    display: grid;
    grid-template-columns: 16px auto;
    gap: 3px;
    align-items: center;
}




/*
   Checkout Form Style Start
*/




/*
   Order Summary Style Start
*/

.order_summary_wrapper,
.coupon_code_wrapper {
    box-sizing: border-box;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.0509803922);
    min-height: 1rem;
    border-radius: 10px;

    @media (max-width:48rem) {
        margin-right: 5px;
        margin-left: 5px;
    }
}

.order_summary_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-right: 1.5rem;
    cursor: pointer;

    &::after {
        position: absolute;
        content: ">";
        top: 15px;
        right: 10px;
    }
}

.order_summary_heading,
.order_totals_amount {
    color: #252525;
    font-size: 15px;
    font-weight: 600;
}

.checkout_heading {
    @extend .order_summary_heading;
    margin-bottom: 1rem;
}

.order_summary_item_count {
    font-size: 14px;
    font-weight: 400;
    margin: 0 7px;
}

.order_products_wrapper {
    &.checkout_card {
        margin: 0.5rem 0;
    }
}

.order_product_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.order_product_img {
    position: relative;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.order_product_details {
    display: flex;
    width: calc(100% - 70px);
    flex-direction: column;
}

.order_product_title {
    font-size: 14px;
    line-height: 1.5;
    color: #303030;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

.order_product_quantity,
.order_product_price {
    margin: 5px 0 0;
    display: -ms-flexbox;
    display: flex;

    span {
        line-height: 1;
        display: inline-block;
        font-size: 13px;
        color: #242424;
        font-weight: 400;
        margin-right: 8px;

        &:last-child {
            font-weight: 600;
        }
    }

}

.order_subtotal,
.order_shipping,
.order_discount,
.order_topay {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        line-height: 1;
        margin: 5px 0;
        font-size: 15px;
        color: #242424;
        font-weight: 400;
    }
}


.order_totals_wrapper .order_totals_value {
    font-weight: 500;
    font-size: 15.5px;
}

.order_discount .order_totals_value {
    color: #28c700;
}

.order_topay {
    border-top: 1px solid #e3e3e3;
    margin-top: 15px;
    padding-top: 15px;

    .order_topay_value {
        font-weight: 600;
        font-size: 18px;
    }
}

.coupen_code {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1%;

    .ant-form-item {
        margin-bottom: 0;
    }
}

/*
    Order Summary Style End
*/



/*
    Payment Style start
*/

.payment_options {
    margin-top: 1rem;
}

.payment_options .ant-radio-group.ant-radio-group-outline,
.payment_options .ant-space {
    width: 100%;
}

.payment_container {
    // border-top: 1px solid #e0e0e0;
    // margin-top: 1rem;
    // padding-top: 1rem;
}

.payment_heading {
    color: #252525;
    font-size: 16px;
    font-weight: 700;
}

.payment_option_container {
    margin: 0.5rem 0;
    padding: 0 0 1rem 0;
    border-radius: 6px;

    &.selected {
        border: 1px solid #e0e0e0;
        border-top: none;
    }

}

.payment_option_wrapper {
    display: flex;
    align-items: center;
    border: 0.76px solid #CCD3DE;
    background-color: transparent;
    height: 56px;
    width: 100%;
    cursor: pointer;
    font-weight: 600;
    padding: 0 10px;
    border-radius: 6px;

    &.selected {
        background-color: rgba(22, 119, 225, 0.10);
        color: #1677ff;
        border: 1px solid #1677ff;
    }
}

.payment_type {
    display: flex;
    align-items: center;
    gap: 10px;
}

.saving_message {
    color: #238017;
    font-size: small;

    strong {
        font-size: 14px;
    }
}

.payment_note {
    padding: 1rem;
    text-align: center;
    display: block;

    span {
        margin-top: 0.5rem;
    }

    &~p.payment_note {
        padding-top: 0;
    }
}

.checkout_footer {
    border-top: 1px solid #e0e0e0;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 1rem 0;
}

/*
    Payment Style End
*/

/*
    Shipping Method Style Start
*/

.shipping_method_container {
    @extend .payment_container;
}

.shipping_method_heading {
    @extend .payment_heading;
}

.shipping_method_options {
    @extend .payment_options;
    display: flex;
    gap: 5px;
    align-items: center;
    overflow: scroll;
}

.shipping_type_wrapper {
    display: flex;
}

.shipping_type {
    display: flex;
    align-items: center;
    border: 1px solid #e0e0e0;
    min-width: 145px;
    min-height: 50px;
    border-radius: 4px;
    padding: 8px 6px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}

.shipping_type_name {
    font-size: 12px;
    margin-left: 6px;
    font-weight: 600;
    color: #292929;
}

.standard-shipping {
    color: rgb(243, 182, 39)
}

.express-shipping {
    color: rgb(0, 81, 191)
}

.selected-shipping {
    border: 1px solid #6f57e9;
}

/*
    Shipping Method Style End
*/






/**

    FULL SCREEN MODEL

*/
.checkout-model-open {
    overflow: hidden;
}

.ant-modal {

    @media (max-width:48rem) {
        overflow-x: hidden;
        max-width: 100vw !important;
        margin: 0 auto !important;
    }
}

.checkout_modal>div>.ant-modal-content {
    @media (max-width:48rem) {
        // height: 100vh !important;
    }
}


/////
/// 
/// 
/// General
.checkout_card_container,
.checkout_card {
    margin: 0.5rem;
    box-sizing: border-box;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.0509803922);
    min-height: 1rem;
    border-radius: 10px;
}

/////
/// 
///  
///     Third.JS
/// 
/// 
//////


.delivery_address_wrapper {
    .deliver_to {
        @extend .order_summary_heading;
        display: flex;
        justify-content: space-between;
    }

    .deliver_address {
        display: flex;
        gap: 2px;
        flex-wrap: wrap;
    }

    .change_deliver_to_btn {
        color: rgb(0, 81, 191);
        background-color: transparent;

        &:hover {
            color: rgb(0, 81, 191, 0.9);
        }
    }
}


/////////
/// 
/// 
///     ShowAddress.js
/// 
/// 

.show_addresses {
    .show_addresses_title {
        font-size: 16px;
        font-weight: 700;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        margin: 5px 0 0 0;
    }

    .new_address_btn {
        margin: 0.5rem 0;
        font-weight: 500;
        color: rgb(22, 119, 255);
        display: grid;
        width: fit-content;
        margin-left: auto;

        &:hover {
            color: rgb(22, 119, 255, 0.8);
        }

    }
}

.checkout_card.address_list {
    margin: 0.5rem 0;
}




////////
/// 
/// 
/// 
/// Order Summary
/// 


.checkout_modal {
    .ant-modal-content {
        height: 100vh;
        overflow: hidden;

        .ant-modal-body {
            height: 100vh;
            overflow: hidden;

            .checkout_wrapper {
                height: 100vh;
                overflow: scroll;
            }
        }
    }
}

:where(.css-dev-only-do-not-override-1fumvat).ant-modal {
    padding-bottom: 0;
}