.order_summary_drawer,
.checkout_exit_drawer {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    .ant-drawer-header {
        border-bottom: none;
        padding-bottom: 0;
    }

    .ant-drawer-body {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    @media (max-width: 48rem) {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
}


.order_summary_title {
    color: #252525;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
        background-color: transparent;
    }
}

.confirm_order_total_wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;

    .confirm_order_total {
        color: #000;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        line-height: 28px;
        letter-spacing: 0.3px;
        margin: 5px 0;

        span {
            padding-right: 5px;
        }
    }

    .confirm_order_COD {
        display: flex;
        align-items: center;
        width: max-content;
        background: linear-gradient(96deg, #FFF8EF 1.5%, #FFD1C3 97.15%);
        color: #E95123;
        border-radius: 4px;
        padding: 4px 12px;
        font-size: 12px;
        font-weight: 500;
    }

}

.confirm_order_btn_wrapper {
    button {
        font-size: 14px;
        font-weight: 600;
        margin-top: 10px;

    }
}