.ask-question-drawer {
    .ant-drawer-header {
        background: #f9f9f9;
    }
}

.ask-question-title {
    display: flex;
    flex-direction: column;
}

.ask-question-name {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 6px;
    font-weight: 500;
    text-align: center;
}

.ask-question-price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.ask-question-mrp {
    font-size: 90%;
    color: #aaaaaa;
}

.ask-question-selling-price {
    font-size: 110%;
}

.ask-question-gst {
    font-size: 70%;
}

.ask-question-heading {
    font-size: 28px;
    font-weight: 500;
    margin: 5px 0 12.5px;
    text-align: center;

    @media (max-width:48rem) {
        font-size: 25px;
    }
}