.checkout_exit_drawer {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    .ant-drawer-header {
        border-bottom: none;
        padding-bottom: 0;
    }

    .ant-drawer-body {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    @media (max-width: 48rem) {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
}

.exit_form_title {
    color: #252525;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
        background-color: transparent;
    }
}

.exit_form_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .exist_reason_options {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        padding: 0.5rem 0;
    }
}