.btn-wishlist {
    animation-name: wishlist-animate;
    animation-duration: 1000ms;
    color: #00a32a;
}

@keyframes wishlist-animate {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    25% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
    }

    50% {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}

.flash_effect {
    -webkit-animation: nasa_flash_animate 8000ms infinite;
    -moz-animation: nasa_flash_animate 8000ms infinite;
    -o-animation: nasa_flash_animate 8000ms infinite;
    animation: nasa_flash_animate 8000ms infinite
}

@keyframes nasa_flash_animate {
    0% {
        opacity: 1
    }

    5% {
        opacity: .1
    }

    10% {
        opacity: .9
    }

    15% {
        opacity: .1
    }

    20% {
        opacity: .9
    }

    25% {
        opacity: .1
    }

    30% {
        opacity: .9
    }

    100% {
        opacity: 1
    }
}



@keyframes scrollIncart {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }

    33% {
        opacity: 0;
        transform: translateY(-100%);
    }

    66% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes scrollSold {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    33% {
        opacity: 1;
        transform: translateY(0%);
    }

    66% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}