.a {
    width: 100%;
  }
  
  @media (min-width: 640px) {
    .a {
      max-width: 640px;
    }
  }
  
  @media (min-width: 768px) {
    .a {
      max-width: 768px;
    }
  }
  
  @media (min-width: 1024px) {
    .a {
      max-width: 1024px;
    }
  }
  
  @media (min-width: 1280px) {
    .a {
      max-width: 1280px;
    }
  }
  
  @media (min-width: 1536px) {
    .a {
      max-width: 1536px;
    }
  }
  
  .b {
    --tw-aspect-h: 1;
  }
  
  .d {
    --tw-aspect-h: 3;
  }
  
  .h {
    --tw-aspect-h: 7;
  }
  
  .i {
    position: relative;
    padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
    --tw-aspect-w: 1;
  }
  
  .i > * {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .p {
    color: var(--tw-prose-body);
    max-width: 65ch;
  }
  
  .p {
    --tw-prose-body: #374151;
    --tw-prose-headings: #111827;
    --tw-prose-lead: #4b5563;
    --tw-prose-links: #111827;
    --tw-prose-bold: #111827;
    --tw-prose-counters: #6b7280;
    --tw-prose-bullets: #d1d5db;
    --tw-prose-hr: #e5e7eb;
    --tw-prose-quotes: #111827;
    --tw-prose-quote-borders: #e5e7eb;
    --tw-prose-captions: #6b7280;
    --tw-prose-code: #111827;
    --tw-prose-pre-code: #e5e7eb;
    --tw-prose-pre-bg: #1f2937;
    --tw-prose-th-borders: #d1d5db;
    --tw-prose-td-borders: #e5e7eb;
    --tw-prose-invert-body: #d1d5db;
    --tw-prose-invert-headings: #fff;
    --tw-prose-invert-lead: #9ca3af;
    --tw-prose-invert-links: #fff;
    --tw-prose-invert-bold: #fff;
    --tw-prose-invert-counters: #9ca3af;
    --tw-prose-invert-bullets: #4b5563;
    --tw-prose-invert-hr: #374151;
    --tw-prose-invert-quotes: #f3f4f6;
    --tw-prose-invert-quote-borders: #374151;
    --tw-prose-invert-captions: #9ca3af;
    --tw-prose-invert-code: #fff;
    --tw-prose-invert-pre-code: #d1d5db;
    --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
    --tw-prose-invert-th-borders: #4b5563;
    --tw-prose-invert-td-borders: #374151;
    font-size: 1rem;
    line-height: 1.75;
  }
  
  .q {
    font-size: 0.875rem;
    line-height: 1.7142857;
  }
  
  .s {
    --tw-prose-links: #4f46e5;
    --tw-prose-invert-links: #6366f1;
  }
  .t {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  .u {
    pointer-events: none;
  }
  .w {
    visibility: visible;
  }
  .aa {
    position: absolute;
  }
  .ab {
    position: relative;
  }
  .ak {
    inset: 0px;
  }
  .an {
    top: -1px;
    bottom: -1px;
  }
  .as {
    top: 0px;
    bottom: 0px;
  }
  .at {
    bottom: -0px;
  }
  .dd {
    left: 100%;
  }
  .de {
    right: 0px;
  }
  .dl {
    right: 2.25rem;
  }
  .dn {
    top: 0px;
  }
  .dt {
    top: 0.875rem;
  }
  .en {
    order: 3;
  }
  .fp {
    margin: -0.125rem;
  }
  .fs {
    margin: -0.5rem;
  }
  .gk {
    margin-top: -3rem;
    margin-bottom: -3rem;
  }
  .gx {
    margin-left: auto;
    margin-right: auto;
  }
  .id {
    margin-right: -0.25rem;
  }
  .in {
    margin-right: -24rem;
  }
  .is {
    margin-top: -3rem;
  }
  .it {
    margin-top: -4rem;
  }
  .jp {
    margin-left: 0.25rem;
  }
  .jt {
    margin-left: 0.5rem;
  }
  .jw {
    margin-left: 0.75rem;
  }
  .jx {
    margin-left: 1rem;
  }
  .jz {
    margin-left: 1.5rem;
  }
  .ko {
    margin-right: 1rem;
  }
  .ku {
    margin-top: 0.25rem;
  }
  .kw {
    margin-top: 2.5rem;
  }
  .ky {
    margin-top: 3rem;
  }
  .la {
    margin-top: 4rem;
  }
  .lb {
    margin-top: 0.5rem;
  }
  .lf {
    margin-top: 0.75rem;
  }
  .lg {
    margin-top: 8rem;
  }
  .lh {
    margin-top: 1rem;
  }
  .li {
    margin-top: 10rem;
  }
  .lk {
    margin-top: 1.5rem;
  }
  .lm {
    margin-top: 2rem;
  }
  .lu {
    display: block;
  }
  .lx {
    display: flex;
  }
  .ly {
    display: inline-flex;
  }
  .ma {
    display: flow-root;
  }
  .mb {
    display: grid;
  }
  .md {
    display: none;
  }
  .my {
    aspect-ratio: 801/1036;
  }
  .nj {
    height: 3rem;
  }
  .nq {
    height: 6rem;
  }
  .nr {
    height: 0.75rem;
  }
  .nz {
    height: 1.25rem;
  }
  .oc {
    height: 1.5rem;
  }
  .of {
    height: 18rem;
  }
  .og {
    height: 2rem;
  }
  .ol {
    height: 1024px;
  }
  .on {
    height: 1152px;
  }
  .or {
    height: 367px;
  }
  .ph {
    height: 100%;
  }
  .ra {
    min-height: 979px;
  }
  .rb {
    min-height: 980px;
  }
  .rc {
    min-height: 100%;
  }
  .re {
    width: 0.125rem;
  }
  .rg {
    width: 0.375rem;
  }
  .ri {
    width: 25%;
  }
  .rk {
    width: 2.5rem;
  }
  .rm {
    width: 3rem;
  }
  .rs {
    width: 6rem;
  }
  .ru {
    width: 0.75rem;
  }
  .sc {
    width: 1.25rem;
  }
  .sf {
    width: 1.5rem;
  }
  .sk {
    width: 2rem;
  }
  .sm {
    width: 2.25rem;
  }
  .tn {
    width: auto;
  }
  .to {
    width: 100%;
  }
  .tw {
    max-width: 42rem;
  }
  .ub {
    max-width: 80rem;
  }
  .uc {
    max-width: 100%;
  }
  .ul {
    max-width: 36rem;
  }
  .um {
    max-width: 20rem;
  }
  .un {
    flex: 1 1 0%;
  }
  .uq {
    flex-shrink: 0;
  }
  .ve {
    --tw-translate-x: -0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
      skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
      scaleY(var(--tw-scale-y));
  }
  .xl {
    cursor: default;
  }
  .xo {
    cursor: not-allowed;
  }
  .xr {
    cursor: pointer;
  }
  .yh {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .yk {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .yl {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .ys {
    flex-direction: column;
  }
  .yt {
    flex-direction: column-reverse;
  }
  .za {
    align-items: center;
  }
  .zf {
    justify-content: center;
  }
  .zg {
    justify-content: space-between;
  }
  .zp {
    gap: 0.75rem;
  }
  .zs {
    gap: 1.5rem;
  }
  .abh > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem * var(--tw-space-x-reverse));
    margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
  }
  .abj > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.75rem * var(--tw-space-x-reverse));
    margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
  }
  .abk > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
  }
  .abw > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
  }
  .abx > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse));
  }
  .abz > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
  }
  .acd > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
  }
  .ach > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-divide-opacity));
  }
  .adh {
    overflow: hidden;
  }
  .adt {
    border-radius: 9999px;
  }
  .adu {
    border-radius: 0.5rem;
  }
  .adv {
    border-radius: 0.375rem;
  }
  .afa {
    border-width: 1px;
  }
  .afg {
    border-bottom-width: 1px;
  }
  .afj {
    border-left-width: 1px;
  }
  .afn {
    border-top-width: 1px;
  }
  .afs {
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity));
  }
  .afv {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
  }
  .afw {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
  }
  .agz {
    border-color: transparent;
  }
  .ahf {
    --tw-border-opacity: 1;
    border-color: rgb(250 204 21 / var(--tw-border-opacity));
  }
  .ahl {
    --tw-border-opacity: 0.1;
  }
  .aii {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  }
  .aim {
    --tw-bg-opacity: 1;
    background-color: rgb(156 163 175 / var(--tw-bg-opacity));
  }
  .aip {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
  }
  .aiq {
    --tw-bg-opacity: 1;
    background-color: rgb(107 114 128 / var(--tw-bg-opacity));
  }
  .ais {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  }
  .aiy {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  }
  .ajq {
    --tw-bg-opacity: 1;
    background-color: rgb(79 70 229 / var(--tw-bg-opacity));
  }
  .all {
    background-color: transparent;
  }
  .aln {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }
  .alt {
    --tw-bg-opacity: 1;
    background-color: rgb(250 204 21 / var(--tw-bg-opacity));
  }
  .amp {
    background-image: none;
  }
  .and {
    --tw-gradient-from: #d8b4fe var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(216 180 254 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  }
  .app {
    stroke: rgb(22 101 52 / 0.5);
  }
  .aqe {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aqf {
    -o-object-position: center;
    object-position: center;
  }
  .aql {
    padding: 0.125rem;
  }
  .aqq {
    padding: 0.5rem;
  }
  .aqv {
    padding: 1.5rem;
  }
  .are {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
  .arf {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .ari {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .arm {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .arq {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
  }
  .ars {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .aru {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .arv {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .arz {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  .ase {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .asn {
    padding-bottom: 4rem;
  }
  .asq {
    padding-bottom: 6rem;
  }
  .atn {
    padding-left: 1rem;
  }
  .auj {
    padding-right: 2.25rem;
  }
  .aus {
    padding-top: 4rem;
  }
  .avb {
    padding-top: 1rem;
  }
  .ave {
    padding-top: 1.5rem;
  }
  .avg {
    padding-top: 2rem;
  }
  .avk {
    text-align: left;
  }
  .avl {
    text-align: center;
  }
  .avm {
    text-align: right;
  }
  .avr {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .avs {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .avy {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .avz {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .awa {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .awb {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .awd {
    font-weight: 700;
  }
  .awe {
    font-weight: 500;
  }
  .awh {
    text-transform: uppercase;
  }
  .awj {
    font-style: italic;
  }
  .awl {
    --tw-numeric-spacing: tabular-nums;
    font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure)
      var(--tw-numeric-spacing) var(--tw-numeric-fraction);
  }
  .awo {
    line-height: 1.25rem;
  }
  .awx {
    letter-spacing: -0.025em;
  }
  .axn {
    --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity));
  }
  .axo {
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity));
  }
  .axp {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
  }
  .axr {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
  }
  .axs {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
  }
  .axt {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
  }
  .axv {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
  }
  .axx {
    --tw-text-opacity: 1;
    color: rgb(34 197 94 / var(--tw-text-opacity));
  }
  .ayg {
    --tw-text-opacity: 1;
    color: rgb(99 102 241 / var(--tw-text-opacity));
  }
  .ayh {
    --tw-text-opacity: 1;
    color: rgb(79 70 229 / var(--tw-text-opacity));
  }
  .bag {
    color: transparent;
  }
  .bah {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  .bal {
    --tw-text-opacity: 1;
    color: rgb(250 204 21 / var(--tw-text-opacity));
  }
  .bba {
    opacity: 0.25;
  }
  .bbn {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
      var(--tw-shadow);
  }
  .bbu {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width)
      var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width))
      var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  }
  .bcg {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(156 163 175 / var(--tw-ring-opacity));
  }
  .bcj {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(107 114 128 / var(--tw-ring-opacity));
  }
  .bcl {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(55 65 81 / var(--tw-ring-opacity));
  }
  .bcn {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(17 24 39 / var(--tw-ring-opacity));
  }
  .bcv {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(99 102 241 / var(--tw-ring-opacity));
  }
  .bdj {
    --tw-ring-color: transparent;
  }
  .bdt {
    --tw-ring-offset-width: 2px;
  }
  .bhy:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  }
  .bid:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
  }
  .bir:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(67 56 202 / var(--tw-bg-opacity));
  }
  .bkt:hover {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
  }
  .bku:hover {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
  }
  .bkw:hover {
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity));
  }
  .blb:hover {
    --tw-text-opacity: 1;
    color: rgb(99 102 241 / var(--tw-text-opacity));
  }
  .bmh:focus {
    --tw-border-opacity: 1;
    border-color: rgb(99 102 241 / var(--tw-border-opacity));
  }
  .bmv:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  .bmx:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width)
      var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width))
      var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  }
  .bmz:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width)
      var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width))
      var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  }
  .bna:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width)
      var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width))
      var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  }
  .bnm:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(99 102 241 / var(--tw-ring-opacity));
  }
  .boa:focus {
    --tw-ring-opacity: 0.5;
  }
  .boc:focus {
    --tw-ring-offset-width: 2px;
  }
  .bod:focus {
    --tw-ring-offset-width: 4px;
  }
  .bog:focus {
    --tw-ring-offset-color: #f9fafb;
  }
  .bqb:hover .brh {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
  }
  @media (min-width: 640px) {
    .bwf {
      margin-left: 1.5rem;
    }
  
    .bwp {
      margin-top: 0px;
    }
  
    .bwu {
      margin-top: 4rem;
    }
  
    .bxi {
      display: block;
    }
  
    .bxo {
      display: grid;
    }
  
    .bxz {
      height: 12rem;
    }
  
    .byw {
      width: 12rem;
    }
  
    .bzd {
      width: auto;
    }
  
    .bze {
      width: 100%;
    }
  
    .bzs {
      flex: 1 1 0%;
    }
  
    .can {
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
  
    .cao {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  
    .car {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
  
    .cbu {
      -moz-column-gap: 1.5rem;
      column-gap: 1.5rem;
    }
  
    .cde {
      border-radius: 0.5rem;
    }
  
    .cel {
      padding: 1.5rem;
    }
  
    .cen {
      padding-left: 0px;
      padding-right: 0px;
    }
  
    .cex {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  
    .cfb {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }
  
    .cff {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  
    .cfu {
      padding-bottom: 6rem;
    }
  
    .cgk {
      padding-right: 0px;
    }
  
    .cgt {
      padding-right: 2.25rem;
    }
  
    .chs {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
  
    .chy {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
  @media (min-width: 768px) {
    .com {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
  @media (min-width: 1024px) {
    .crr {
      grid-column: span 2 / span 2;
    }
  
    .crt {
      grid-column: span 4 / span 4;
    }
  
    .cru {
      grid-column: span 5 / span 5;
    }
  
    .crw {
      grid-column: span 7 / span 7;
    }
  
    .crz {
      grid-column-start: 1;
    }
  
    .cse {
      grid-column-start: 6;
    }
  
    .csf {
      grid-column-start: 8;
    }
  
    .csn {
      grid-row: span 2 / span 2;
    }
  
    .cso {
      grid-row: span 3 / span 3;
    }
  
    .csq {
      grid-row-start: 1;
    }
  
    .css {
      grid-row-start: 3;
    }
  
    .cud {
      margin-top: 0px;
    }
  
    .cur {
      display: block;
    }
  
    .cut {
      display: flex;
    }
  
    .cuv {
      display: grid;
    }
  
    .cwu {
      width: 100%;
    }
  
    .cxe {
      max-width: 80rem;
    }
  
    .cxh {
      max-width: none;
    }
  
    .cyi {
      grid-auto-rows: min-content;
    }
  
    .cyj {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  
    .cyl {
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
  
    .cym {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  
    .cyt {
      grid-template-rows: repeat(3, minmax(0, 1fr));
    }
  
    .cyz {
      align-items: flex-start;
    }
  
    .czl {
      gap: 2rem;
    }
  
    .czo {
      -moz-column-gap: 3rem;
      column-gap: 3rem;
    }
  
    .czu {
      -moz-column-gap: 2rem;
      column-gap: 2rem;
    }
  
    .dcu {
      padding: 2rem;
    }
  
    .ddc {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  
    .ddj {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
  }
  @media (min-width: 1280px) {
    .div {
      display: none;
    }
  
    .dkd {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  
    .dkr {
      -moz-column-gap: 4rem;
      column-gap: 4rem;
    }
  }
  