.product-details {
  background-color: #f9f9f9;
  padding: 1rem;
  overflow: hidden;

  &>div {
    width: fit-content;
    margin: auto;
  }

  &__description,
  &__specification,
  &__shipping-and-delivery {
    height: 50px;
    padding: 10px 27px;
    background-color: #ddd;
    margin: 0.5rem 1rem;
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);

    &.active {
      background-color: rgba(0, 0, 0);
      color: #ddd;
    }

    @media (max-width: 48rem) {
      box-sizing: border-box;
      width: 100%;
      margin: 0.5rem 0;
      padding: 10px 15px;
    }
  }
}

del {
  font-size: 16px;
  margin-left: 1rem;
}

.product-sku {
  font-size: 14px;
  color: #717171;
  font-weight: 500;
}

.add-to-cart-btn {
  &>span:not(:first-child) {
    margin-left: 1rem
  }
}

.shipping-and-delivery_tab {
  width: min(90%, 1000px);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width:48rem) {
    grid-template-columns: 1fr;
  }
}

.shipping_section,
.return-and-exchange_section {
  padding: 2rem;

  .text {
    margin-left: 0.5rem;
  }

  &>h4 {
    font-size: 18px;
    font-weight: 600;
  }

  ul {
    margin-top: 1rem;
    list-style: disc;
    padding-left: 2rem;

    li {
      line-height: 1.6rem;
    }
  }

  @media (max-width:48rem) {
    padding: 0.5rem;
  }
}

.quantity-container {
  margin-block: 1rem;

  h4 {
    margin-bottom: 0.5rem;
  }
}

.product-details-container {
  padding: 2rem;

  @media (max-width:48rem) {
    padding: 5px;
  }
}

.buy-now-btn {
  background-color: #000;
  border-radius: 6px;
  color: #fff;
  border: 0;
  position: relative;
  padding: 10px 15px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  line-height: initial !important;
  min-height: 40px;
  width: 100%;

  font-size: 14px;
  letter-spacing: 0.08px;
  border-radius: 0px;
  height: 50px;
  margin: 1rem 0;
  max-width: 400px;

  div {
    display: flex;
    justify-content: center;

    img {
      padding-left: 15px;
    }

    span {
      padding-left: 15px;
    }
  }
}

.checkout-rel-btns {
  width: 80%;

  div {
    display: flex;
  }

  @media (max-width:48rem) {
    width: 100%;
  }
}

.announcement {
  height: 23.5px;
  overflow: hidden;
  position: relative;
  margin: 20px 0;
  clear: both;

  p {
    display: flex;
    gap: 10px;

    img {
      width: 10px;
      height: auto;
    }

  }
}

.product-delivery-view-status {
  p {
    line-height: 40px;
    font-size: 16px;

    svg {
      margin-right: 5px;
    }
  }

  strong {
    font-weight: 500;
  }

  span {
    font-size: 15px;
  }
}

.share-container {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 20px;

  strong {
    font-weight: 500;
  }

  svg {
    margin-right: 5px;
  }

  span {
    font-size: 15px;
  }

  .share-buttons {
    display: flex;
    height: 50px;
    align-items: center;
    gap: 5px;
  }
}

.safe-checkout fieldset {
  margin-top: 1.5em;
  margin-bottom: 1.2em;
  border: 1px solid #efefef;
  padding: 10px 35px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.specification {
  width: min(90%, 700px);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;

  div {
    line-height: 30px;
  }

  &-key {
    font-weight: 500;
  }
}



///////
/// 
///     MOBILE AND DESKTOP
/// 

.mobile {
  display: none;

  @media (max-width:48rem) {
    display: block;
  }
}

.desktop {
  display: block;

  @media (max-width:48rem) {
    display: none;
  }
}