.safe-checkout fieldset {
    margin-top: 1.5em;
    margin-bottom: 1.2em;
    border: 1px solid #efefef;
    padding: 10px 35px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}